.App {
    text-align:center;
}
.items {
    border-bottom: red 1px solid;
    background-color: sandybrown;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.comments {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: sandybrown;
    grid-gap: 1rem;
}
.comments > div {
    border: 1px solid #333
}